<nav class="navbar navbar-expand-lg bg-body-tertiary " style="border-radius:10px;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Taskmanager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="/personalpage">Personal</a>
                <a class="nav-link" href="/workpage">Work</a>
                <a class="nav-link" href="/wishlistpage">WishList</a>

            </div>
        </div>

    </div>
</nav>
